<!-- /Choose Frames-->
<section id="frames">
<div class="container frameri bg-clouds">
<div class="row">
  <div class="col-xs-9 col-sm-7 col-md-6 col-xs-offset-1 col-sm-offset-3">
    <h3 class="text-center">CHOOSE AT LEAST 3 FRAMES</h3>
  </div>
  <div class="col-md-1 col-md-offset-2" style="padding-top:18px;"> 
    <!-- Button trigger modal -->
    <a data-toggle="modal" data-target="#myModal"><img src="images/icon-question.png">
    </a>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title" id="myModalLabel">Why Choose 3?</h3>
          </div>
          <div class="modal-body">
            <p class="lead">The Frameri system was built for change. With Frameri, your frames and lesnses can change as often as you. Following the steps below will help you build your collection. You can always go back and edit your choices later. </p>
          </div>
          <div class="modal-footer">
          <div class="row text-center">
            <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal">OK, I Understand</button>
          </div>  
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>  
  <div class="row text-center"><img src="images/divider-lg.png" class="divider"></div>
  <div class="row bg-white">
    <div class="col-md-12">
      <div class="row">
        <div class="col-sm-6 col-md-4">
           <img src="https://d2958htcjkur1i.cloudfront.net/shop/photos/medium/tidal/tidal_drebbel_forest_optical_crystal_front.jpg" class="img-responsive magnify">
           <h6 class="text-center">Drebbel - Forest</h6>
           <div class="row text-center">
           <button type="button" class="btn btn-shop btn-sm">SELECT</button>
           </div>
        </div>
        <div class="col-sm-6 col-md-4">
           <!-- Image trigger modal -->
           <a data-toggle="modal" data-target=".frameModal-modal-lg">
           <img src="https://d2958htcjkur1i.cloudfront.net/shop/photos/medium/tidal/tidal_drebbel_dark-havana_optical_crystal_front.jpg" class="img-responsive magnify">
           <h6 class="text-center">Drebbel - Dark Havana</h6></a>
           <!-- Modal -->
            <div class="modal fade frameModal-modal-lg" id="frameModal" tabindex="-1" role="dialog" aria-labelledby="frameModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="frameModalLabel">Drebbel - Dark Havana</h3>
                    <p>Measurements: 49-23-140</p>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-md-12 text-center">
                        <img src="https://d2958htcjkur1i.cloudfront.net/shop/photos/large/tidal/tidal_drebbel_dark-havana_optical_crystal_front.jpg" style="product">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3">
                        <img src="https://d2958htcjkur1i.cloudfront.net/shop/photos/small/tidal/tidal_drebbel_dark-havana_optical_crystal_front.jpg" style="border: 1px solid; color: #ccc;">
                      </div>
                      <div class="col-md-3">
                        <img src="https://d2958htcjkur1i.cloudfront.net/shop/photos/small/tidal/tidal_drebbel_dark-havana_copper_onyx_side.jpg" class="magnify">
                      </div>
                      <div class="col-md-3">
                        <img src="https://d2958htcjkur1i.cloudfront.net/shop/photos/small/tidal/tidal_drebbel_dark-havana_iridium_crystal_measured.jpg" class="magnify">
                      </div>
                      <div class="col-md-3">
                        <img src="https://d2958htcjkur1i.cloudfront.net/shop/photos/small/tidal/tidal_drebbel_dark-havana_optical_onyx_hero.jpg" class="magnify">
                      </div>
                    </div>  
                  </div>
                  <div class="modal-footer">
                  <div class="row text-center">
                    <button type="button" class="btn btn-shop btn-lg" data-dismiss="modal">SELECT</button>
                  </div>  
                  </div>
                </div>
              </div>
            </div>
           <div class="row text-center">
            <button type="button" class="btn btn-shop btn-sm">SELECT</button>
           </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <img src="https://d2958htcjkur1i.cloudfront.net/shop/photos/medium/tidal/tidal_drebbel_fire_optical_crystal_front.jpg" class="img-responsive magnify">
          <h6 class="text-center">Drebbel - Fire</h6>
          <div class="row text-center">
          <button type="button" class="btn btn-shop btn-sm">SELECT</button>
        </div>
      </div>
    <div class="col-md-12">  
      <div class="row">
        <div class="col-sm-6 col-md-4">
            <img src="https://d2958htcjkur1i.cloudfront.net/shop/photos/medium/tidal/tidal_drebbel_forest_optical_crystal_front.jpg" class="img-responsive magnify">
            <h6 class="text-center">Drebbel - Forest</h6>
            <div class="row text-center">
            <button type="button" class="btn btn-shop btn-sm">SELECT</button>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
           <img src="https://d2958htcjkur1i.cloudfront.net/shop/photos/medium/tidal/tidal_drebbel_dark-havana_optical_crystal_front.jpg" class="img-responsive magnify">
           <h6 class="text-center">Drebbel - Dark Havana</h6>
           <div class="row text-center">
           <button type="button" class="btn btn-shop btn-sm">SELECT</button>
           </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <img src="https://d2958htcjkur1i.cloudfront.net/shop/photos/medium/tidal/tidal_drebbel_fire_optical_crystal_front.jpg" class="img-responsive magnify">
          <h6 class="text-center">Drebbel - Fire</h6>
          <div class="row text-center">
          <button type="button" class="btn btn-shop btn-sm">SELECT</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">  
      <div class="row">
        <div class="col-sm-6 col-md-4">
            <img src="https://d2958htcjkur1i.cloudfront.net/shop/photos/medium/tidal/tidal_drebbel_forest_optical_crystal_front.jpg" class="img-responsive magnify">
            <h6 class="text-center">Drebbel - Forest</h6>
            <div class="row text-center">
            <button type="button" class="btn btn-shop btn-sm">SELECT</button>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
           <img src="https://d2958htcjkur1i.cloudfront.net/shop/photos/medium/tidal/tidal_drebbel_dark-havana_optical_crystal_front.jpg" class="img-responsive magnify">
           <h6 class="text-center">Drebbel - Dark Havana</h6>
           <div class="row text-center">
           <button type="button" class="btn btn-shop btn-sm">SELECT</button>
           </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <img src="https://d2958htcjkur1i.cloudfront.net/shop/photos/medium/tidal/tidal_drebbel_fire_optical_crystal_front.jpg" class="img-responsive magnify">
          <h6 class="text-center">Drebbel - Fire</h6>
          <div class="row text-center">
          <button type="button" class="btn btn-shop btn-sm">SELECT</button>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
  </div>
  <div class="row text-center">
    <a class="btn btn-continue-unclick btn-lg" href="#lenses">CHOOSE 3 FRAMES</a>
  </div>
</div>
</section> <!-- /frames -->