<!-- /Choose Key-->
<section id="key">
	<div class="container frameri bg-clouds">
	  <h3 class="text-center">CHOOSE KEY COLOR&nbsp;&nbsp;[<a href="javascript:void(0)" class="key previous">^</a>]</h3>
	  <div class="row text-center"><img src="images/divider-lg.png" class="divider"></div>
	  <div class="row bg-white">
	    <h3>Introducing the Key</h3>
	    <p class="lead">The key is exclusive to Frameri and is what allows you to lock your lenses into your frames. In addition to securing your frames, it adds a unique style and is available in three colors. <a href="">See how the key works.</a></p>
	    <div class="col-xs-4 col-md-4"><img src="images/key-topaz.png" class="product"><h4 class="text-center">Topaz</h4></div>
	    <div class="col-xs-4 col-md-4"><img src="images/key-onyx.png" class="product"><h4 class="text-center">Onyx</h4></div>
	    <div class="col-xs-4 col-md-4"><img src="images/key-crystal.png" class="product"><h4 class="text-center">Crystal</h4></div>
	  </div>
	  <div class="row text-center">
	    <button type="button" class="btn btn-continue btn-lg key-got-it">CONTINUE</button>
	  </div>
	  <section class="lens-list"></section>
	  <div class="row text-center">
	    <button type="button" class="btn btn-continue btn-lg key next">CONTINUE</button>
	  </div>
	</div>
</section>
