<div class="row bg-white">
  <h3>Choose Key Color</h3>
  <p>Select either Topaz, Onyx or Crystal and see how each key will look in your frames.</p>
  <div class="col-md-12">
    <div class="row products glasses">
      <div class="col-md-3"><img src="images/key-pair-optical-<%= key %>.png" class="product" style="padding-top:10px;"><h6 class="text-center"><%= key %></h6></div>
      <!-- dynamic frames here -->
    </div>  
  </div>
  <div class="col-md-12">
  <p><strong>Choose Key Color for 1st Set of Lenses:</strong></p> 
    <div class="col-md-2">
      <label class="radio-inline">
        <input type="radio" class="key" name="lens-key-<%= id %>" value="topaz" <%= key=='topaz' ? 'checked' : '' %>>Topaz
      </label>
    </div>
    <div class="col-md-2">
      <label class="radio-inline">
        <input type="radio" class="key" name="lens-key-<%= id %>" value="onyx" <%= key=='onyx' ? 'checked' : '' %>>Onyx
      </label>
    </div>
    <div class="col-md-2">
      <label class="radio-inline">
        <input type="radio" class="key" name="lens-key-<%= id %>" value="crystal" <%= key=='crystal' ? 'checked' : '' %>>Crystal
      </label>
    </div>              
  </div>       
</div>