<!-- /Your Collection-->
<div class="container frameri bg-clouds">
  <h3 class="text-center">YOUR TIDAL COLLECTION&nbsp;&nbsp;[<a href="javascript:void(0)" class="review previous">^</a>]</h3>
  <div class="row text-center"><img src="images/divider-lg.png" class="divider"></div>
  <div class="row bg-white">
    <div class="col-md-12">
    	<h3 class="text-center">With the 3 frames and 2 lenses you chose, here are your 6 looks.</h3>
    	<section id="review-glasses"></section>
    </div>
  </div>
  <div class="row bg-white">
    <div class="col-md-6">
      <h3>Your Frames</h3>
      <div id="review-frames"></div>
    </div>
    <div class="col-md-6">
      <h3>Your Lenses</h3>
      <section class="review cart" id="review-lenses"></section>
    </div>
  </div>
  <div class="row text-center">
  	<button type="button" class="btn btn-share btn-lg" style="padding-left:40px; padding-right:40px;margin-right:10px;">SHARE</button>
    <button type="button" class="btn btn-primary btn-lg" style="padding-left:45px;padding-right:45px;margin-right:10px;">SAVE</button>
    <button type="button" class="btn btn-continue btn-lg" style="padding-right:25px;padding-left:25px;">CHECKOUT</button>
    <p style="padding-bottom:15px;">To add more frames or lenses, just click the ‘Previous Step’ button on the top left of your screen.</p> 
  </div>
</div>